*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 150px;
    height: 150px;
    background-color:rgb(4, 240, 4);
    margin: auto;
    margin-top: 100px;
    position: relative;

}

.box:hover{
    animation:mudarCor 5s linear infinite;
    cursor: pointer;
}

@keyframes mudarCor {
    0% {background-color:rgb(4, 240, 4);}
    50% {background-color:red;
    width:400px;}
    100% {background-color:rgb(4, 240, 4);}
}